@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap');

.nav-item {
    font-family: 'Source Sans Pro', sans-serif;
}

.active {
    background-color: lightblue;
    border-radius: 3px;
}