@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&display=swap');

.nav-link {
    color: #1b67bc;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}